<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.eplat.dao.IMobileVersionsDao">

	<insert id="insertMobileVersion"  useGeneratedKeys="true" >
			insert into mobile_versions
			(version,platform,point,name)
			values
			(#{version},#{platform},#{point},#{name})
	</insert>
	
	<select id="getLatestVersion"  resultType="map">
			select version,platform,point,name from mobile_versions where version =
						(select max(version) from mobile_versions) and platform = 'android'
	</select>
	
	<select id="getIdByVersion" resultType="int">
		select  id from mobile_versions where version = #{version} and platform = 'android'
	</select>
	
	<update id="updateMobileVersionByVersion">
		update mobile_versions set point = #{point},name = #{name} where version = #{version} and platform = #{platform}
	</update>
</mapper>