<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.eplat.dao.IPushToHwDao">
	
	
	<sql id="all_fields">
		id, ep_uid, name, id_no, dayof_date, dayof_week, on_duty_time, off_duty_time, company_code,on_duty_source,off_duty_source,on_infos,off_infos
	</sql>
	
	<sql id="all_fields_except_id">
		ep_uid, name, id_no, dayof_date, dayof_week, on_duty_time, off_duty_time, company_code,on_duty_source,off_duty_source,on_infos,off_infos
	</sql>
	
	<sql id="all_fields_except_id_sharp_item">
		#{item.ep_uid}, #{item.name}, #{item.id_no}, #{item.dayof_date}, #{item.dayof_week}, #{item.on_duty_time}, #{item.off_duty_time}, 
		#{item.company_code},#{item.on_duty_source},#{item.off_duty_source},#{item.on_infos},#{item.off_infos}
	</sql>
	
	<insert id="batchInsertPushToHws" parameterType="com.cn.eplat.model.PushToHw" useGeneratedKeys="true" keyProperty="id" >
		insert into push_to_hw (
			<include refid="all_fields_except_id"></include>
		) values 
		<foreach collection="list" item="item" open="" separator="," close="" >
			(
				<include refid="all_fields_except_id_sharp_item"></include>
			)
		</foreach>
	</insert>
	
	<select id="getPushToHwsByDate" resultType="com.cn.eplat.model.PushToHw">
			select *  from push_to_hw where  1= 1 
			<if test="startdate != null  and enddate != null">
				and dayof_date between #{startdate} and #{enddate}
			</if>
	</select>
	
	<select id="getPushToHwsByIds" resultType="com.cn.eplat.model.PushToHw">
		select *  from push_to_hw where id in 
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
			#{item}
		</foreach>
	</select>
	
	<select id="findPushToHwsByName" parameterType="string" resultType="com.cn.eplat.model.PushToHw" >
		select * from push_to_hw
		where name = #{name}
	</select>
	
	<select id="getPushToHwsByIdSeq" resultType="com.cn.eplat.model.PushToHw" >
		select * from push_to_hw
		where 1 = 1
			<if test="idSeqStart != null and idSeqStart > 0 ">
				and id &gt;= #{idSeqStart}
			</if>
			<if test="idSeqEnd != null and idSeqEnd > 0 ">
				and id &lt;= #{idSeqEnd}
			</if>
	</select>
	
	<select id="findNotPushedDatas" resultType="com.cn.eplat.model.PushToHw" >
		select * from push_to_hw
		where id not in (
			select distinct(pth_id)
			from push_log
		)
	</select>
	
	<select id="findNotPushedDatasBeforeYesterday" resultType="com.cn.eplat.model.PushToHw" >
		select * from push_to_hw pth
		where ep_uid IS NOT NULL 
			AND NAME IS NOT NULL
			AND id_no IS NOT NULL
			AND dayof_date IS NOT NULL
			AND dayof_week IS NOT NULL
			and pth.id not in (
			select distinct(pth_id)
			from push_log
		) and pth.dayof_date &lt; DATE_FORMAT(date_add(NOW(), interval -1 day),'%Y-%m-%d')
	</select>
	
	<select id="findNotPushedDatasByActualConditioin" resultType="com.cn.eplat.model.PushToHw" statementType="CALLABLE" >
		{
			call findNotPushedDatasByActualConditioin_sp()
		}
	</select>
	
	<!-- 查询全程OA系统的考勤数据（SQL Server 2008 R2 数据库） -->
	<select id="queryQcKqDatas" resultType="com.cn.eplat.model.PushToHw" >
		SELECT vb.FK_UserID ep_uid, vb.empid work_no, vb.sName name, vb.sIDCard id_no, kq.dWKTime dayof_date, tb.sCustField18Value company_code
		FROM HR_KQ_T_Origin kq, HR_Archives_V_BaseInfo vb LEFT JOIN HR_Archives_T_Base tb ON vb.FK_UserID = tb.FK_UserID
		WHERE kq.FK_UserID=vb.FK_UserID
		ORDER BY kq.dWKTime DESC
	</select>
	
	
</mapper>